@import url(normalize.min.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*
font-family: 'Jua', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/*LAYOUT*/
header{max-width:1699px; margin:0 auto;}
.container{max-width:1499px; margin:0 auto;}
.main_video{max-width:1920px; margin: 0 auto;}
footer{margin:0 auto;}


/*TYPOGRAPHY*/
.main_menu li a{
    font-size: 20px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:500;
    color:#252525;
    
}
.main_menu li a:hover{color:#d6000f;}
.top_mn{
    font-size:19px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight:700;
    color:#252525;
}
.container p{
    font-size:35px;
    font-family:'Jua', sans-serif;
    font-weight: 400;
    color:#d6000f;
}
.container h2{
    font-size:45px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
    color:#252525;
}
.main_list p{
    font-size:15px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
    color:#fff;
}
.main_list h3{
    font-size:55px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 400;
    color:#252525;
}
.main_list li:nth-child(2) h3{
    font-size:55px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 400;
    color:#d9a648;
}
.main_list h4{
    font-size:18px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#252525;
}
.information + img + p{
    font-size:18px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#252525;
}
.new_list p{
    font-size:19px;
    font-family:'Jua', sans-serif;
    font-weight: 400;
    color:#d6000f;
}
.new_list h3{
    font-size:19px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 700;
    color:#000;
}
.new_list h4{
    font-size:15px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#6e6d6d;
}
.new_list span{
    font-size:11px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 500;
    color:#6e6d6d;
}
button{border-radius: 2px; 
}
button a{
    font-size:20px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 500;
    color:#000;
}
.ft_mu ul{
    font-size:15px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 500;
    color:#000;
}
.ft_mu p{
    font-size:15px;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 400;
    color:#000;
}

/*HEADER*/
header{
    position:absolute;
    z-index: 1;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    padding: 34px 0;
    align-items: center;
}
header h1 a{
    width:239px;
    height:33px;
    background: url(../image/logo.png) no-repeat;
    display: block;
    text-indent: -9999em;
}
nav{display: flex;}
nav .main_menu{
    display: flex;
    gap:40px;
}
/*MAIN_VIDEO*/

/*INNER*/

/*FOOTER*/
footer{background-color:#f1f1f1;}