@import url(common.css);
/*HEADER*/

.sub_mn{display:none;}
/*MAIN_VIDEO*/
.main_video{
    overflow: hidden;
    position: relative;
}
.top_mn{
    position:fixed;
    right:60px;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
}
.top_mn ul li::after{content:'';display:inline-block; width: 70px; height:2px; background-color: #252525; position: absolute; top:50%; transform: translateY(-50%); margin-left: 10px; left:100%;}
.top_mn ul li{margin-bottom: 26px; position: relative; text-align: right;}

.top_mn ul li:hover a{color:#d6000f;}
.top_mn ul li:hover::after{background-color:#d6000f;}
.top_mn ul li a svg{margin-right:5px;}
/*INNER*/
.inner{padding-top:165px;}
.content p{padding-bottom:45px;}
.content h2{line-height: 65px;}
.mu_list{display:flex; justify-content: space-between;}
.main_list li a{position: relative;}
.main_list p{position: absolute; padding-top:18px; padding-left:9px;}
.mu_list h2{line-height: 65px;}
.mu_lust_tt{right: 0;
    display: inline-block;
    position: absolute;
    top: 275px;
    text-align: right;
}
.mu_lust_tt h4{padding-top: 10px;}

.inner .main_list{
    display: flex;
    justify-content: flex-end;
    gap:47px;
}
.content .main_list li p{position: absolute; top:-18px;}
.inner .main_list li{display: inline;justify-content: space-between;}
/*INFORMATION*/
.data p{padding-bottom: 45px;}



/*MAIN_WRAPPER*/
.news p{padding-bottom: 45px;}
.news h2{line-height: 65px;padding-bottom:40px;}
.new_list{display:flex; gap:20px;}
.new_list li{border:1px solid #ccc;}
.new_list li a{display:block;position:relative;background: #000;}
.new_list li a img{opacity:0}
.new_list li:After{content:'';display:block;}
.new_list li .bg-test{    position: absolute;
    text-align: left;
    bottom: 0;
    width: 100%;
    display: block;
    height: 100%;
    background: #fff;}
.new_list li .bg-test:hover{opacity:0.6}
.new_list li .bg-test.img01:hover{background: url(../image/new_01.jpg);}
.new_list li .bg-test.img02:hover{background: url(../image/new_02.jpg);}
.new_list li .bg-test.img03:hover{background: url(../image/new_03.jpg);}
.new_list li .bg-test.img04:hover{background: url(../image/new_04.jpg);}

.new_list li .bg-test .absolute{    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;}
.new_list li p h3 h4 span{position: absolute; left:0; top:50px;}

.main_wrapper .container  button{margin: 45px auto;display: block;}
/*FOOTER*/
.logo{display:inline-block; padding-top: 118px;}
.logo a{
    background: url(../image/logo.png) no-repeat;
    width:239px;
    height:33px;
    text-indent: -9999em;
    display:block;
}
.ft_mu ul li a{}
.social_link{display:flex; justify-content:flex-end;}